<title>Emoji Additions</title>
{% extends "commonLayout.html" %}
{% block bodyContent %}

<style>
    #addSlack:focus::placeholder, #addZulip:focus::placeholder {
        color: transparent;
    }
</style>

<script src="/static/javascript/emojiAdditions.js"></script>

<div class="container">
    <br>
    <p class="display-4">Manually Add Emoji Mappings</p><br>
    <div class="container lead">
        This page allows you to add custom mappings between Slack and Zulip.<br>
        Simply enter the short codes you want to map.<br><br>
        The short code format is the same for both Slack and Zulip: <code>:emoji: to :emoji:</code><br><br>
    </div>

    <div class="container">
        <table id="emojiMappingTable" class="table table-sm" style="width: 500px;">
            <tr>
                <td><b>ID&nbsp;&nbsp;&nbsp;</b></td>
                <td><b>Slack</b></td>
                <td><b>&nbsp;&nbsp;&nbsp;Zulip</b></td>
                <td style="width: 0; border-top: 0;"></td>
            </tr>
            {% for s,z in emoji.items() %}
                    <tr id="mapping{{loop.index0}}">
                        <td scope="row">{{loop.index}}</td>
                        <td><label id="slack{{loop.index0}}">{{s}}</label></td>
                        <td><label id="zulip{{loop.index0}}">{{z}}</label></td>
                        <form action="" method="POST">
                            <td style="width: 0; border-top: 0;"><input type="image" src="/static/svgs/x.svg" width="32px" height="32px" /></td>
                            <input type="hidden" name="remove" value="yes"/>
                            <input type="hidden" name="removeSlack" value="{{s}}" />
                            <input type="hidden" name="removeZulip" value="{{z}}" />
                        </form>
                    </tr>
            {% endfor %}
            <tr>
                <td><u>Add</u></td>
                <form action="" method="POST" onsubmit="return addMapping();">
                        <td><input type="text" placeholder=":emoji:" class="form-control" oninput="addMapping();" id="addSlack" name="addSlack" /></td>
                        <td><input type="text" placeholder=":emoji:" style="margin-left: 10px;" class="form-control"oninput="addMapping();" id="addZulip" name="addZulip" /></td>
                        <td style="width: 0; border-top: 0;"><input type="image" src="/static/svgs/plus.svg" width="32px" height="32px" /></td>
                        <input type="hidden" name="add" value="yes">
                </form>
            </tr>
        </table>
    </div>
</div>
{% endblock %}