<title>Home</title>
{% extends "commonLayout.html" %}
{% block bodyContent %}

<div class="container">
    <h1 class="text-center display-3" >Slack and Zulip Integration</h1><br>

    <blockquote class="blockquote"><p class="mb-0" style="text-align: center">Following the 4 simple steps below you will be all set in no time!</p></blockquote>
    <img style="display: block; width: 45%; margin: auto;" class="center" src="/static/images/setupHomepage.png"/><br>


    <br><br><br>
        <blockquote class="blockquote"><p class="mb-0" style="text-align: center">This Slack and Zulip Integration allows for sending of; messages, emojis, files, and more...</p></blockquote>
     <img style="display: block; width: 50%; margin: auto;" class="center" src="/static/images/featuresHomepage.png" /><br>
</div>
{% endblock %}